<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<h1>LOGIN</h1>
<h2>Posting data from HTML to MongoDB Atlas</h2>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="not-found content">
        UPS... página no encontrada
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>