<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<h1>LOGIN</h1>
<h2>Posting data from HTML to MongoDB Atlas</h2>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Backend site</h1></a>
            <p>Control panel</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/verbs/create">Create a verb</a></li>
        </ul>
    </nav>
    
    <div class="not-found content">
        UPS... página no encontrada
    </div>
    
</body>
</html>