<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>ADMIN</h1>
    <h2>Posting data from HTML to MongoDB Atlas</h2>

    <div class="create-verb content">

        <form action="/" method="POST">
            <p>Source name: <input type="text" name="sourceName" /></p>
            <p>V1: <input type="text" name="v1" /></p>
            <p>V2: <input type="text" name="v2" /></p>
            <p>V3: <input type="text" name="v3" /></p>
            <p>WrongV1: <input type="text" name="wrongv1" /></p>
            <p>WrongV2: <input type="text" name="wrongv2" /></p>
            <p>WrongV3: <input type="text" name="wrongv3" /></p>
            <input type="submit" name="sub" value="Submit" />
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
