<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>SIGN UP</h1>
    <h2>Posting data from HTML to MongoDB Atlas</h2>

    <div class="signup content">

        <form action="/signup" method="POST">
            <p>Email: <input type="email" name="email" required/></p>
            <p>Password: <input type="password" name="password" required/></p>
            <p>Nickname: <input type="text" name="nickname" required/></p>
            <input type="submit" name="sub" value="Submit" />
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
