<nav>
    <div class="site-title">
        <a href="/"><h1>Backend site</h1></a>
        <p>Control panel</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/verbs/create">Create a verb</a></li>
    </ul>
</nav>